textarea {
    min-height: 400px;
}

.border {
    border-style: solid none none none;
}

/* will be bold */
.email-unread {
    border-color:antiquewhite;
    border-style:solid;
    border-width: 1px;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    column-gap: 10px;
}

/* will be regular font */
.email-read{
    border-color:black;
    border-style:solid;
    border-width: 1px;
    background-color: gray;
    padding: 5px 5px 5px 10px;
    column-gap: 10px;
}

#timestamp {
    text-align: right;
    resize: none;
    overflow: none;
}

#subject {
    justify-self: start;
}

#email {
    justify-self: start;
    overflow: none;
}

.wrapper-grid-container {
    display: grid;
    grid-template-columns: min-content auto auto;
    align-content: space-around;
    
}

.email-unread:hover, .email-read:hover {
    background-color: lightgray;
}


