textarea {
    min-height: 400px;
    overflow-y: scroll;
}

.border {
    border-style: solid none none none;
}

.email-unread, .email-read {
    border-style:solid;
    border-width: 1px;
    padding: 5px 5px 5px 10px;
    column-gap: 10px;
}

.email-unread {
    font-weight: bold;
    background-color: grey;
}

.email-read{
    border-color:black;
}

#timestamp {
    text-align: right;
    resize: none;
    overflow: none;
}

#subject {
    justify-self: start;
}

#email {
    justify-self: start;
    overflow: none;
}

.wrapper-grid-container {
    display: grid;
    grid-template-columns: min-content auto auto;
    align-content: space-around;
    
}

.email-unread:hover, .email-read:hover {
    background-color: lightgray;
}

/* reply, archive, read buttons */
#actions {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-content: space-around;
    text-align: right;
    column-gap: 5px;
}