.progress-bar {
	display: block;
	width: 100%;
	height: 10px;
	position: fixed;
	z-index: 50;
	background: linear-gradient(to right, #CC9933 var(--scroll), transparent 0) no-repeat;

	&.horizontal.top {
		top: 0;
		left: 0;
	}

	&.horizontal.bottom {
		top: auto;
		bottom: 0;
		background: linear-gradient(to left, #CC9933 var(--scroll), transparent 0);
	}

	&.vertical.left {
		width: 10px;
		height: 100vh;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, #CC9933 var(--scroll), transparent 0);
	}

	&.vertical.right {
		width: 10px;
		height: 100vh;
		top: 0;
		right: 0;
		background: linear-gradient(to top, #CC9933 var(--scroll), transparent 0);
	}
}


// display stuff, ignore below this line
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
	background: #2b2a26;
}

.display-content {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;

	h1 {
		color: #fff;
		font-family: Montserrat, sans-serif;
		font-size: 34px;
		text-transform: uppercase;
	}
}

.scroll {
	height: 3000px;
}